* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Courier New', Courier, monospace;
  background-color: #121212;
  color: beige
}

a {
  color: blue;
  text-decoration: none;
}